<div class="container" ng-controller="AccordionCtrl">

  <div class="row">
    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" ng-repeat="schedule in myData">
      <div class="panel panel-primary">
        <div class="panel-heading collapsed" role="tab" data-toggle="collapse" data-parent="#accordion"
             data-target="{{ '#collapse' + ($index+1) }}"
             aria-expanded="false" id="headingOne1">
          <h4 class="panel-title">
            {{schedule.name}}
          </h4>
        </div>
        <div id="{{ 'collapse' + ($index+1) }}" class="panel-collapse collapse schedule" role="tabpanel"
             aria-labelledby="headingOne">
          <div class="panel-body">
            {{schedule.description}}

            <div>
              <div style="display:inline-block; min-height:290px;" >
                <uib-datepicker ng-model="dt"  ng-change="selectDate(dt, schedule)" class="well well-sm"
                                datepicker-options="options" >

                </uib-datepicker>
              </div>
            </div>

            <!--<label>Search: <input ng-model="searchText"></label>-->
            <!--<table id="searchTextResults">-->
              <!--<tr ng-repeat="lesson in lessons | filter:searchText">-->
              <!--<tr>-->
                <!--<td>{{lesson.time}}</td>-->
                <!--<td>{{lesson.lesson}}</td>-->
              <!--</tr>-->
              <!--</tr>-->
            <!--</table>-->

            <table class="table table-hover" id="scheduleDate">
              <thead>
              <tr>
                <th>time</th>
                <th>lesson</th>
              </tr>
              </thead>

              <tbody ng-repeat="lesson in lessons">
              <tr>
                <td>{{lesson.time}}</td>
                <td>{{lesson.lesson}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>